@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&family=Raleway:wght@300;400&display=swap');
@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    font-family: 'raleway';
    color: #777;
}

body {
    padding: 0;
    margin: 0;
}

.nav ul {
    margin: 0;
}

.nav a {
    text-decoration: none;
    color: white;
    padding: 0.5em;
    display: inline-block;
}

.main-header {
    background-image: url(./Header\ Background.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    padding-bottom: 30px;
}

.nav li {
    /* text-decoration: none; */
    display: inline;
}

.nav a:hover{
    background-color: rgba(255, 255, 255, 0.3);

}

.main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav li {
    padding: 0 5%;
}


.band-name{
    font-family: 'Booter - Zero Zero';
    color: white;
    font-weight: lighter;
    font-size: 4em;
    text-align: center;
    margin: 0;
}

.band-name-large{
    font-size: 7em;
}

.content-section{
    margin: 1em;
}

.section-header {
    font-family: 'metal mania';
    color: #333;
    text-align: center;
    font-weight: normal;
    font-size: xx-large;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.shop-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shop-item {
    margin-bottom: 50px;
}

.shop-item-image{
    height: 250px;
}

.shop-item-details{
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.shop-item-price{
    color: #333;
    flex-grow: 1;
}

.btn{
    color: white;
    border: none;
    border-radius: 6px;

}
.btn-primary{
    background-color: #56ccf2;
    padding: 10px;
}

.shop-item-button{
    font-weight: bold;
    font-size: 0.7em;
}
.shop-item-title{
    display: block;
    text-align: center;
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 15px;
}

.main-footer{
    background-color: #56ccf2;
    padding: 0.25em 0;
    /* display: flex */

}

.main-footer-container{
    display: flex;
    align-items: center;
}

.main-footer-container ul{
    text-align: end;
    flex-grow: 1;
}

.footer-nav li{
    padding: 0 0.5em;
}

.footer-nav img {
    height: 30px;
    width: 30px;
}

.cart-header {
    font-weight: bold;
    color: #333;
}

.cart-row {
    display: flex;
}

.cart-item-title {
    font-weight: bold;
    margin-left: 5px;
    color: #333;
}

.cart-item {
    flex: 45%;
}

.cart-price {
    flex: 20%
}

.cart-quantity {
    flex: 35%;
}

.cart-column { 
    border-bottom: 1px solid #000;
    margin: 0 8px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.btn-danger {
    background-color: #EB5757;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    padding: 10px;

}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    margin-right: 25px;
    text-align: center;
    color: #333;
    font-size: 1.2rem;
    border: 2px solid #56ccf2;
}

.cart-row:last-child {
    border-bottom: 1px solid #000;
}

.cart-row:last-child .cart-column {
    border: 0;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
}

.cart-total-title {
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 10px;
}

.cart-total-price {
    font-size: 1.1rem;
    color: #333;
    margin-right: 20px;
}

.btn-purchase {
    font-size: 1.5rem;
    display: block;
    margin: 40px auto 80px auto;
    font-weight: bolder;
    padding: 20px;
}

.btn-primary:hover {
    background-color: #2ebbeb;
}